<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    {% include head.html %}
</head>

<body class="article" itemscope itemtype="https://schema.org/WebPage">
    {% include chrome-frame.html %}
    {% include navigation.html %}
    <div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/Blog">
        <div class="article-author-top">
            {% include author-bio.html %}
        </div>
        <article itemscope itemtype="https://schema.org/BlogPosting" itemprop="blogPost">
            <div class="headline-wrap">
                <h1 itemprop="headline">{{ page.title }}</h1>
                <h2>{{ page.tagline }}</h2>
            </div>
            <!--/ .headline-wrap -->
            <div class="article-wrap" itemprop="text">
                {{ content }}
                <footer role="contentinfo">
                    <div class="article-author-bottom">
                        {% include author-bio.html %}
                    </div>
                    <section class="byline">
                        <span class="author"><a href="{{ site.owner.google_plus }}?rel=author"
                                title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a>
                        </span>
                        <span class="time">
                            /<time datetime="{{ page.date | date: " %Y-%m-%d" }}" itemprop="datePublished">{{ page.date
                                | date: "%Y-%m-%d" }}</time>
                        </span>
                        <br>
                        <span class="license">
                            Published under <a rel="license"
                                href="https://creativecommons.org/licenses/by-nc-sa/3.0/">(CC) BY-NC-SA</a>
                        </span>
                        {% if page.categories %}
                        <span class="categories">
                            in categories
                            {% for category in page.categories %}
                            <a href="{{ site.url }}/categories/#{{ category }}-ref" title="{{ category }}">{{ category
                                }}</a>&nbsp;
                            {% endfor %}
                        </span>
                        {% endif %}
                        {% if page.tags %}
                        <span class="tags">
                            tagged with
                            {% for tag in page.tags %}
                            <a href="{{ site.url }}/tags/#{{ tag }}-ref" title="{{ tag }}">{{ tag }}</a>&nbsp;
                            {% endfor %}
                        </span>
                        {% endif %}
                    </section>
                </footer>
            </div>
            <!-- /.article-wrap -->
        </article>
        <div id="disqus_thread" class="comment"></div>
        <script type="text/javascript">
            {% if site.safe == false %} var disqus_developer = 1; {% endif %}
            var disqus_shortname = 'ivoryxiongorg';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </div>
    <!-- /#main -->
    <div class="footer-wrap">
        <footer>
            {% include footer.html %}
        </footer>
    </div>
    <!-- /.footer-wrap -->
    {% include scripts.html %}
</body>

</html>